/* ########################################################################################## */
/* ########################################## BODY ########################################## */
/* ########################################################################################## */

@font-face {
	font-family: minecraftia;
	src: url(minecraftia.ttf);
}

body {
	font-family: minecraftia;
	font-size: 16px;
	background-color: #121212;
	margin: 0;
}

/* ########################################################################################## */
/* ######################################### NAVBAR ######################################### */
/* ########################################################################################## */

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1C1C1C;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li.right {float: right;}

/* ########################################################################################## */
/* ########################################## DIVS ########################################## */
/* ########################################################################################## */

/* FORMAT DESIGN DIV */
.format {
	margin-top: 1%;
	margin-left: 3%;
	float: left;
}

/* ########################################################################################## */
/* ######################################### CLASSES ######################################## */
/* ########################################################################################## */

.PE {
	height: 70px;
}

.RP {
	color: white;
	display: inline-block;
	height: 50px;
}

.ss {
	width: 854px;
	height: 480px;
}

.link {
	color: white;
	font-size: 24px;
	text-decoration: none;
}

.link:hover {
	background-color: grey;
}

/* ########################################################################################## */
/* ######################################## DOWNLOAD ######################################## */
/* ########################################################################################## */

.Download {
	background-color: #1b1b1b;
	border-radius: 6px;
	border: 2px solid #1d1d1d;
	display: inline-block;
	cursor: pointer;
	color: white;
	padding: 6px 24px;
	text-decoration: none;
	overflow: hidden;
}

.Download:hover {
	background-color: #242424;
}

.Download:active {
	position: relative;
	top: 1px;
}

/* ########################################################################################## */
/* ######################################### MOBILE ######################################### */
/* ########################################################################################## */

@media screen and (max-width: 600px){

    ul.topnav li.right, 
    ul.topnav li {float: none;}

	.PE {height: inherit;}

	.RP {height: inherit;}

}
