@font-face {
	font-family: minecraftia;
	src: url(Files/minecraftia.ttf);
}

body {
	margin: 0;
	color: white;
	font-size: 16px;
	font-family: minecraftia;
	background-color: #121212;
}

a {color: white}

::selection {
	color: inherit;
	background-color: transparent;
}

::-moz-selection {
	color: inherit;
	background-color: transparent;
}

@media screen and (min-width: 1px) {

	ul.topnav {
		margin: 0;
		padding: 0;
		overflow: hidden;
		list-style-type: none;
		background-color: #1C1C1C;
	}

	ul.topnav li {float: left}

	ul.topnav li.right {float: right}

	ul.topnav li a {
		display: block;
		transition: 0.1s;
		padding: 10px 16px;
		text-align: center;
		text-decoration: none;
	}

	ul.topnav li a:hover {
		transition: 0.1s;
		padding: 10px 26px;
		background-color: #111;
	}

	.menu-button {display: none}

}

.format {
	margin: 1% 0% 0% 3%;
	padding-bottom: 30px;
}

.PE {
	height: 70px;
	display: inline-block;
}

.RP {
	height: 50px;
	display: inline-block;
}

.SS {
	width: 854px;
	height: 480px;
}

.CL {
	padding-top: 2.5%;
	font-family: minecraftia;
}

.logo {
	padding-top: 6%;
	text-align: center;
}

.logotext {
	font-size: 32px;
	text-decoration: none;
}

.link {
	font-size: 24px;
	transition: 0.2s;
	text-decoration: none;
}

.link:hover {
	transition: 0.2s;
	padding-left: 30px;
}

.footer {
	bottom: 0;
	width: 100%;
	text-align: center;
	background-color: #1C1C1C;
}

.footerfix {
	position: absolute;
}

.hr {
	margin: 0;
	height: 1px;
	border: none;
	background-color: #262626;
}

.Download {
	cursor: pointer;
	overflow: hidden;
	transition: 0.1s;
	padding: 6px 24px;
	border-radius: 6px;
	display: inline-block;
	text-decoration: none;
	border: 2px solid #0e0e0e;
	background-color: #1b1b1b;
}

.Download:hover {
	transition: 0.1s;
	background-color: #242424;
	transform: translate(0px,-10px);
	-ms-transform: translate(0px,-10px);
	-webkit-transform: translate(0px,-10px);
}

.Download:active {
	transition: 0.1s;
	transform: translate(0px,5px);
	-ms-transform: translate(0px,5px);
	-webkit-transform: translate(0px,5px);
}

.MCB {
	color: #E0E0E0;
	box-sizing: border-box;
	outline: 2px solid black;
	padding: 0px 10px 0px 10px;
	background-repeat: repeat;
	border-top: 2px solid #AAA;
	border-left: 2px solid #AAA;
	text-shadow: 3px 3px #4C4C4C;
	border-right: 2px solid #565656;
	border-bottom: 4px solid #565656;
	background-image: url(Files/button_center.png);
}

.MCB:hover {
	color: #FFFFA0;
	border-top: 2px solid #BDC6FF;
	border-left: 2px solid #BDC6FF;
	border-right: 2px solid #59639A;
	border-bottom: 4px solid #59639A;
	background-image: url(Files/button_active_center.png);
}

@media screen and (max-width: 800px) {

	.sidenav {
		top: 0;
		width: 0;
		z-index: 1;
		height: 100%;
		position: fixed;
		transition: 0.3s;
		background-color: #1C1C1C;
	}

	.menu-button {
		opacity: 0.5;
		cursor: pointer;
		display: inline;
		position: fixed;
		font-size: 48px;
		padding-left: 5%;
	}

	.MCB {
		overflow: hidden;
		display: inline-block;
	}

	.menu-button:hover {opacity: 1}

	ul.topnav li {float: none}

	ul.topnav li.right {float: none}

	.RP, .PE {height: inherit}

	.footerfix {position: initial}

}

@media screen and (min-width: 1600px) and (max-height: 1050px) {.logotext {font-size: 40px}}

@media screen and (min-width: 1920px) and (max-height: 1200px) {.logotext {font-size: 50px}}

@media screen and (min-width: 3840px) and (max-height: 2160px) {.logotext {font-size: 80px}}
