@font-face {
	font-family: minecraftia;
	src: url(minecraftia.ttf);
}

body {
	margin: 0;
	color: white;
	font-size: 16px;
	font-family: minecraftia;
	background-color: #121212;
}

a {color: white}

::selection {
	color: inherit;
	background-color: transparent;
}

::-moz-selection {
	color: inherit;
	background-color: transparent;
}

@media screen and (min-width: 1px) {

	ul.topnav {
		margin: 0;
		padding: 0;
		overflow: hidden;
		list-style-type: none;
		background-color: #1C1C1C;
	}

	ul.topnav li {float: left}

	ul.topnav li.right {float: right}

	ul.topnav li a {
		display: block;
		text-align: center;
		padding: 10px 16px;
		text-decoration: none;
		transition: 0.1s;
	}

	ul.topnav li a:hover {
		padding: 10px 26px;
		background-color: #111;
		transition: 0.1s;
	}

	.menu-button {display: none}

}

.format {
	margin: 1% 0% 0% 3%;
	padding-bottom: 30px;
}

.PE {
	height: 70px;
	display: inline-block;
}

.RP {
	height: 50px;
	display: inline-block;
}

.SS {
	width: 854px;
	height: 480px;
}

.CL {
	padding-top: 2.5%;
	font-family: minecraftia;
}

.link {
	font-size: 24px;
	text-decoration: none;
	transition: 0.2s;
}

.link:hover {
	padding-left: 30px;
	transition: 0.2s;
}

.footer {
	padding: 10px;
	text-align: center;
	background-color: #1C1C1C;
}

.Download {
	cursor: pointer;
	overflow: hidden;
	padding: 6px 24px;
	border-radius: 6px;
	display: inline-block;
	text-decoration: none;
	border: 2px solid #0e0e0e;
	background-color: #1b1b1b;
	transition: 0.1s;
}

.Download:hover {
	background-color: #242424;
	transform: translate(0px,-10px);
	-ms-transform: translate(0px,-10px);
	-webkit-transform: translate(0px,-10px);
	transition: 0.1s;
}

.Download:active {
	transform: translate(0px,5px);
	-ms-transform: translate(0px,5px);
	-webkit-transform: translate(0px,5px);
	transition: 0.1s;
}

@media screen and (max-width: 800px) {

	.sidenav {
		top: 0;
		width: 0;
		z-index: 1;
		height: 100%;
		position: fixed;
		background-color: #1C1C1C;
		transition: 0.3s;
	}

	.menu-button {
		position: fixed;
		display: inline;
		font-size: 48px;
		cursor: pointer;
		padding-left: 5%;
		opacity: 0.5;
	}

	.menu-button:hover {opacity: 1}

	ul.topnav li {float: none}

	ul.topnav li.right {float: none}

	.RP, .PE {height: inherit}
}
